@use 'var';

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
    gap: 15px;

    .online-course{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 20px;
        // background-image: url(../images/background.webp);
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: cover;
        background-color: var.$uglyPurple;
        width: 100%;
        height: auto;
        color: var.$offwhite;

        .online-content{
            padding: 20px;

            .join-now{
                background-color: #141414;
                border-radius: 30px;
                padding: 6px 20px;
                width: 111px;

                span{
                    padding-right: 3px;
                }
    
                i{
                    background-color: var.$offwhite;
                    color: #141414;
                    border-radius: 30px;
                    padding: 11px;
                }
            }
        }
    }

    .widget-bar{
        display: flex;
        gap: 10px;
        width: 100%;
        justify-content: space-between;

        .widget{
            display: flex;
            background-color: white;
            border-radius: 30px;
            gap: 17px;
            align-items: center;
            padding: 10px;

            .widget-title{
                .small-title{
                    color: var.$lightgrey;
                }
            }

            .icon {
                background-color: var.$lightgrey;
                border-radius: 30px;
                padding: 20px;
            }
        }
    }

    .continue{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .btn-box{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            z-index: 100;

            .carousel-control.prev {
                left: 0;
            }
            
            .carousel-control.next {
                right: 0;
            }
        }
    }

    .carousel-inner{
        background-color: var.$offwhite;
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: space-around;
        padding: 10px;
        border-radius: 20px;

        .carousel-item{
            width: 200px;

            .headingImg{
                border-radius: 30px;

                img{
                    width: 200px;
                    height: auto;
                    border-radius: 30px;
                }
            }
            
            .title-content{


                .small-title{
                    margin: 5px;

                    span{
                        background-color: lightblue;
                        border-radius: 20px;
                        padding: 2px 10px;
                    }
                }

                .users{
                    border-top:2px solid var.$uglyPurple;
                    display: flex;

                    .mentor-img{
                        .memoji {
                            height: 50px;
                            width: 50px;
                            margin-right: 10px;
                        }

                    }

                }
            }
        }

    }
}