@use 'var';
@use 'components/searchbar';
@use 'center-column';


body{
    margin: 0;
}

.content{
    display: flex;
    background-color: var.$background;

    .center-column {
        flex-grow: 2;
    }
}