@use '_var.scss';
@use 'components/_searchbar.scss';
@use '_center-column.scss';
@use 'components';


body{
    margin: 0;
    font-family: "Roboto", system-ui;
}

.content{
    display: flex;
    justify-content:center;
    background-color: var.$background;
    .center-column {
        // margin: 20px;
        flex-grow: 2;
    }
}


